{% extends "base.html" %}

{% block page_content %}
    <h1>About</h1>
    <p>
        Hello and welcome to my personal portfolio website. This site is
        intended to showcase (a subset of) my skills, abilities and interests. I
        have an educational background in physics and have worked as a data
        scientist and as such have strong skills in problem solving,
        quantitative analysis and data visualisation (among many others).
    </p>

    <p>
        The projects on the <a href="{% url 'home' %}">portfolio page</a>
        will primarily see me working with different data sources and/or formats to produce
        interesting results and visualisations. The projects are intended to be
        of general interest and accessible to a wide audience including those who
        are not numerically minded.
    </p>
{% endblock page_content %}