{% extends "base.html" %}

{% load static %}
{% block page_content %}
    <h1>My Portfolio Website</h1>

    <p>
        Take a look at some of my projects below:
    </p>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">An Analysis of 2022 EU Greenhouse Gas Emissions</h5>
                <img class="card-img-top" src="{% static 'home_thumbs/emissions.jpg' %}" style="height:50%" alt="emissions, from pixabay">
                <p class="card-text">
                    A small analysis project to explore country and sectoral
                    breakdowns of greenhouse gas emissions in EU countries in 2022.
                </p>
                <a href="{% url 'eu_emissions' %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">An Analysis of Eirgrid Electricity Data</h5>
                <img class="card-img-top" src="{% static 'home_thumbs/wind_energy.jpg' %}" style="height:50%" alt="wind energy, from pixabay">
                <p class="card-text">
                    A small analysis project to explore the distributions of
                    various information related to electricity use in Ireland
                    using data from Eirgrid.
                </p>
                <a href="{% url 'eirgrid_analysis' %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">How Long is An Bord Pleanála Taking to Decide Public Transport Planning Applications?</h5>
                <img class="card-img-top" src="{% static 'home_thumbs/bus_lane.png' %}" style="height:50%" alt="bus lane sign, from pixabay">
                <p class="card-text">
                    A small project to determine how long An Bord Pleanála is taking to decide
                    on major public transport infrastructure planning applications. Updates automatically daily!
                </p>
                <a href="{% url 'abp_pt_applications' %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">Determining the Golden Age of The Simpsons</h5>
                <img class="card-img-top" src="{% static 'home_thumbs/simpsons.png' %}" style="height:50%" alt="homer simpson image, from pixabay">
                <p class="card-text">A small project to try and identify the
                    most highly regarded period of "The Simpsons" TV show based
                    on IMDB ratings.
                </p>
                <a href="{% url 'simpsons_ratings' %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">How to make a Guindex pubs map...</h5>
                <img class="card-img-top" src="{% static 'home_thumbs/ireland_map.png' %}" style="height:50%" alt="Ireland map image, from pixabay">
                <p class="card-text">
                    A demonstration of how to make a version of the Guindex pubs
                    map.
                </p>
                <a href="{% url 'guindex_map' %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">Real Time Tracking of Irish Trains</h5>
                <img class="card-img-top" src="{% static 'home_thumbs/irish_rail.jpg' %}" alt="train image, from pixabay">
                <p class="card-text">A small project to use the Irish Rail API
                    to get and visualise real time train locations
                    over a specified time window.
                </p>
                <a href="{% url 'irish_rail_rt' %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">Exploring the Last.fm API - What does the world scrobble?</h5>
                <img class="card-img-top" src="{% static 'home_thumbs/music.png' %}" style="height:50%" alt="homer simpson image, from pixabay">
                <p class="card-text">A small analysis to determine the artists
                    with the most listeners around the world using the last.fm API.
                </p>
                <a href="{% url 'last_fm_analysis' %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
         <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">Guindex Python Package</h5>
                <img class="card-img-top" src="{% static 'home_thumbs/guindex_package.png' %}" alt="guindex icon">
                <p class="card-text">A simple python package I released that
                    makes requests to the API of the Guindex website and
                    returns the pubs or pints as Pandas DataFrames.</p>
                <a href="{% url 'guindex_package' %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">
                    Variation of Guinness Pint Pricing in Dublin Postal Regions
                    (2017-18)
                </h5>
                <img class="card-img-top" src="{% static 'home_thumbs/pint_geo_var.jpg' %}"  alt="pub image, from pixabay">
                <p class="card-text">Examining the variation of Guinness pricing
                    in different An Post administrative areas of Dublin in
                    2017-18 period.
                </p>
                <a href="{% url 'guinness_pricing_post' %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">
                    Explore Ireland Transport Emissions Decarbonisation Scenarios
                </h5>
                <img class="card-img-top" src="{% static 'home_thumbs/tem_scenarios.jpg' %}" alt="highway image, from pixabay">
                <p class="card-text">
                    An R Shiny project to look at how various combinations of
                    Avoid, Shift and Improve measures including fleet
                    electrification could contribute to Ireland's transport
                    sector meeting its 2030 emissions target.
                </p>
                <a href="{% url 'transport_emissions_scenarios' %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">Solutions to "An Introduction to Statistical Learning" Problems</h5>
                <img class="card-img-top" src="{% static 'home_thumbs/stat_learning.png' %}" alt="Chart, from Pixabay">
                <p class="card-text">
                    Solutions to the applied exercises for chapters 1 through 8
                    of "An Introduction to Statistical Learning" by James, Witten,
                    Hastie and Tibshirani done using R and written up using R Markdown.
                </p>
                <a href="{% url 'statistical_learning' %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">Here's how I made this website...</h5>
                <img class="card-img-top" src="{% static 'home_thumbs/website.jpg' %}" alt="Website design, from Pixabay">
                <p class="card-text">
                    In this post I explain how I created the website using the python
                    package django and then deployed the website.
                </p>
                <a href="{% url 'django_website' %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>


{% endblock page_content %}


