{% extends "base.html" %}

{% block page_content %}
    <h1>An Introduction to Statistical Learning Solutions</h1>
    <p>
        In late 2021 I started to do the applied exercises from the book
        "An Introduction to Statistical Learning" (ISLR) by Gareth James,
        Daniela Witten, Trevor Hastie and Robert Tibshirani. The book is
        available at <a href="https://www.statlearning.com/">https://www.statlearning.com/</a>. I found this book to be
        excellent free resource to learn statistical learning techniques and
        would highly recommend it to anyone. I did these exercises
        using R and wrote up the solutions using R Markdown. I got as far as
        chapter 8 before I was rudely interrupted by securing paid employment.
    </p>

    <p>
        The solutions for the applied exercises from chapters 1 through 8 can be
        viewed in a markdown file on my GitHub <a href="https://github.com/rmcg123/ISLR-ML-Solutions/blob/main/ISLR-ML-Problems.md">here</a>
    </p>

{% endblock page_content %}