{% extends "base.html" %}

{% block page_content %}
    <h1>Explore Ireland Transport Emissions Decarbonisation Scenarios</h1>
    <p>
        A couple of years ago, before the adoption of Ireland's carbon budget
        programme and the allocation of the sectoral emissions ceilings I was
        thinking about what combination of sub-targets for the transport sector
        would translate into a 50% reduction in emissions from 2018 levels.
    </p>
    <p>
        In 2018 the emissions from the transport sector were approximately 12
        MtCO2 equivalent. Therefore a 50% reduction would see absolute emissions
        of around 6 Mt CO2 eq. I created an R shiny app to try to understand
        what various mode shares, electrification percentages, efficiency
        improvements and avoided demand levels would translate to in terms of
        emissions output.
        <iframe src="https://rbmcg1234.shinyapps.io/Irelands_Land_Transport_Emissions/" title="Transport Emissions Shiny" width="1000" height="800"></iframe>
    </p>
    <p>
        The code for this was written in R using RStudio and is available on my
        GitHub <a href="https://github.com/rmcg123/Transport_Emissions_R_Shiny/">here</a>.

    </p>
{% endblock page_content %}
